.First{
    height: 50px;
    background-color:slategray;
    display: inline-block;
    margin:20px;
    padding: 20px;
    font-size: 20px;
}
.First input{
    margin-left: 18px;
    height: 30px;
}
.First:hover{
    background-color:purple;
    font-size: 30px;
}
.First input:hover{
    font-family: 'Times New Roman', Times, serif;
    color:navy;
    background-color: magenta;
    margin-left: 18px;
    font-size: 20px;
    height: 30px;
}
.Second{
    height: 50px;
    background-color:slategray;
    display: inline-block;
    margin:20px;
    padding: 20px;
    font-size: 20px;
} 

.Second input{
    margin-left: 18px;
    height: 30px;
}

.Second:hover{
    background-color:purple;
    font-size: 30px;
}
.Second input:hover{
    font-family: 'Times New Roman', Times, serif;
    color:navy;
    background-color: magenta;
    margin-left: 18px;
    font-size: 20px;
    height: 30px;
}   
.cal{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.oper select{
    width: 50px;
}

.oper option{
    background-color: grey;
    font-size: larger;
    color: honeydew;
}

.oper select:hover{
    width: 100px;
    color: purple;
}
.btn button{
    color: indianred;
    width: 200px;
}
.btn button:hover{
    background-color: khaki;
}
.Result{
    background-color: rgb(173, 185, 161);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.Result:hover{
    height: 50px;
    width: 200px;
    align-items: center;
    margin-left: 40%;
}
body{
    background-color: lightyellow;
}